@import 'calendar/calendar.scss';

:root {
	--capgemini-blue: #0070ad;
	--capgemini-grey: #ececec;
	--bs-body-font-family: 'Ubuntu', sans-serif;
}

.page-title {
	color: var(--capgemini-blue);
	margin-block-end: 24px;
}
