@import '@fontsource/ubuntu/300.css';
@import '@fontsource/ubuntu/300-italic.css';
@import '@fontsource/ubuntu/400-italic.css';
@import '@fontsource/ubuntu/500.css';
@import '@fontsource/ubuntu/700.css';

:root {
	--capgemini-blue: #0070ad;
	--capgemini-grey: #ececec;
	--bs-body-font-family: 'Ubuntu', sans-serif;
}

.header {
	background-color: var(--capgemini-blue);
	color: white;
}

.header__site-name {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 16px;
	margin-block-end: 0;
	font-size: 48px;
	line-height: 1.1;
}

.header__icon {
	font-size: 1.2em;
	line-height: 1.1;
	font-weight: 600;
}

.header__tagline {
	font-size: 25px;
	font-weight: 300;
	margin-block-end: 0;
}

.footer {
	background-color: var(--capgemini-grey);
}
